body {
  margin: 0;
  background-color:black !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url(//db.onlinewebfonts.com/c/9b62dc86f936227b3f7b367bd0b6c05e?family=Tw+Cen+MT);

@font-face {font-family: "Tw Cen MT"; src: url("//db.onlinewebfonts.com/t/9b62dc86f936227b3f7b367bd0b6c05e.eot"); src:
  url("//db.onlinewebfonts.com/t/9b62dc86f936227b3f7b367bd0b6c05e.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/9b62dc86f936227b3f7b367bd0b6c05e.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/9b62dc86f936227b3f7b367bd0b6c05e.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/9b62dc86f936227b3f7b367bd0b6c05e.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/9b62dc86f936227b3f7b367bd0b6c05e.svg#Tw Cen MT") format("svg"); }

  @import url(//db.onlinewebfonts.com/c/a6e52658c34e3c3b5aab798f098593dc?family=Tw+Cen+MT+Condensed);

  @font-face {font-family: "Tw Cen MT Condensed"; src: 
    url("//db.onlinewebfonts.com/t/a6e52658c34e3c3b5aab798f098593dc.eot"); src: 
    url("//db.onlinewebfonts.com/t/a6e52658c34e3c3b5aab798f098593dc.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/a6e52658c34e3c3b5aab798f098593dc.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/a6e52658c34e3c3b5aab798f098593dc.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/a6e52658c34e3c3b5aab798f098593dc.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/a6e52658c34e3c3b5aab798f098593dc.svg#Tw Cen MT Condensed") format("svg"); }

div.container-fluid{
  padding: 0 !important;
}

div.quienSoy{
  margin: 0 auto;
  width: 62vw;
}
h1{
  animation: slideInLeft;
  animation-duration: 1s;
}
div.jumbo{
  z-index: 900;
  height: 100%;
}

nav{
  position: fixed;
  display: block;
  padding: 30px;
}
@media screen and (max-width: 600px) {
  .display-3 {
    font-size: 50px;
  }
  p.quien{
    margin-top:0;
  }
}